include README.md
include SECURITY.md
include LICENSE
include VERSION
include RELEASE_NOTES*.md
recursive-include docs *.md *.txt *.json *.csv
recursive-include examples *.py *.md
recursive-include vectors *.json
recursive-include paper *.tex *.bib *.md *.pdf *.sty
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
